<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historic Places in India</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </link>
</head>

<body class="flex-container">
    <section id="head">
        <div class="header1">
            <header>
                <h1>Historical Places In India</h1>
            </header>
            <p>India is a country with a vast history and many historical monuments to visit.</p>
        </div>
    </section>
    <section id="hawa">
        <h1 class="headings">HAWA MAHAL</h1>
        <div class="pic">
            
            <img src="{{ url_for('static', filename="images/hawa_mahal.jpg")}}" alt="Hawa Mahal">
            <div class="about">
                <h2>Hawa Mahal, Rajasthan</h2>
                <p><b>The Hawa Mahal</b> is a place in the city of <b>Jaipur, India</b>. Built from red and pink
                    sandstone, it
                    is on the edge of the
                    <b>City Palace, Jaipur</b>, and extends to the Zenana,or women's chamber. It is regarded as the
                    signature building of Rajasthan
                    and was built by <b>Maharaj Sawai Pratap Singh.</b><br><br>
                    <b>Best Time To Visit: October To March</b><br>
                    <b>Nearest Railway Station: Jaipur Railway Station ( 6 km )<br>
                        Nearest Airport: Jaipur Airport ( 11 km )</b>
                </p>
            </div>
        </div>
    </section>
    <section id="golden">
        <h1 class="headings">GOLDEN TEMPLE</h1>
        <div class="pic">
            <div class="about">
                <h2>Golden Temple, Amritsar</h2>
                <p><b>he Golden Temple( also known as the Harmandir Saheb ) </b>, is a gurudwara located in the city of
                    <b>Amritsar, Punjab,
                        India </b> It is the preeminent spiritual site of Sikhism. It is one of the holiest sites in
                    Sikkism, alongside the <b>
                        Gurudwara Darbar Sahib Kartarpur</b> in <b>Kartarpur</b> and <b>Gurudwara Janam Asthan</b> in
                    <b>Nankana Sahib</b><br><br>
                    <b>Best Time To Visit: November To March</b><br>
                    <b>Nearest Railway Station: Puri Railway Station ( 30 km )<br>
                        Nearest Airport: Shri Guru Ram Das Jee International Airport of Amritsar ( 11 km )</b>
                </p>
            </div>
            <img src="{{ url_for('static', filename="images/golden_temple.jpg")}}" alt="Golden Temple">
        </div>
    </section>
    <section id="india">
        <h1 class="headings">INDIA GATE</h1>
        <div class="pic">
            <img src="{{ url_for('static', filename="images/india_gate.jpg")}}" alt="India Gate">
            <div class="about">
                <h2>India Gate, Delhi</h2>
                <p>The All India War Memorial, popularly known as <b>the India Gate</b>, is a war memorial located in
                    <b>New Delhi</b>.
                    It is dedicated to the 82,000 soldiers, both Indian and British, who died duting the First World War
                    and the Third Anglo-Afghan War.
                    The Amar Jawan Jyoti is the burning structure, right underneath the archway, which symbolizes the
                    eternal, immortal soldiers of India.<br><br>
                    <b>Best Time To Visit: February To April and August To November </b><br>
                    <b>Nearest Railway Station: Amritsar Railway Station ( 2 km )<br>
                        Nearest Airport: IGI Airport ( 13 km )</b>
                </p>
            </div>
        </div>
    </section>
    <section id="mysore">
        <h1 class="headings">MYSORE PALACE</h1>
        <div class="pic">
            <div class="about">
                <h2>Mysore Palace, Mysore</h2>
                <p>The former residence of the royal family of Mysore. The Mysore Palace is an extremely breath-taking
                    example of the Indo-Saracenic style
                    of architecture. It was built in the year 1912 for the 24th Ruler of the Wodeyar Dynasty and is till
                    date on of the biggest palaces in the country.
                    It's one of the most visited and well-known tourist attractions in India.
                    <br><br>
                    <b>Best Time To Visit: March To July</b><br>
                    <b>Nearest Railway Station: Mysore Junction ( 2.5 km )<br>
                        Nearest Airport: Mysuru Airport ( 10 km )</b>
                </p>
            </div>
            <img src="{{ url_for('static', filename="images/mysore_palace.jpg")}}" alt="Mysore Palace">
        </div>
    </section>
    <section id="jantar">
        <h1 class="headings">JANTAR MANTAR</h1>
        <div class="pic">
            <img src="{{ url_for('static', filename="images/jantar_mantar.jpg")}}" alt="Jantar Mantar">
            <div class="about">
                <h2>Jantar Mantar, Delhi</h2>
                <p><b>Jantar Mantar</b> in <b>Delhi</b> is the largest stone astronomical observatory in the World. It
                    is located in modern city of Delhi. Built during the period between 1727 nd 1733, the Jantar Mantar
                    is still in running condition and is stands as a witness regarding the wisdom of former age.<br><br>
                    <b>Best Time To Visit: October To March</b>
                    <br>
                    <b>Nearest Railway Station: New Delhi Railway Station <br>
                        Nearest Metro Station: Patel Chowk <br>
                        Nearest Airport: Indira Gandhi International Airport</b>
                </p>
            </div>
        </div>
    </section>
    <section id="sun">
        <h1 class="headings">SUN TEMPLE</h1>
        <div class="pic">
            <div class="about">
                <h2>Sun Temple, Konark</h2>
                <p>Dedicated to Lord Surya, this 13th century temple is an architectural marvel and the quintessential
                    example of Oriyan
                    form of architecture. It is believed that the temple was constructed by <b>King Narasimhadeva I</b>
                    of <b>Eastern Ganga
                        Dynasty</b>. The shape of the temple is of a massive chariot with sumptuously engraved stone
                    wheels, pillars and walls.
                    A major part of the structure at present is in ruins. The temple is a UNESCO World Heritage
                    site.<br><br>
                    <b>Best Time To Visit: September To March</b><br>
                    <b>Nearest Railway Station: Puri Railway Station ( 30 km )<br>
                        Nearest Airport: Sardar Vallabhbhai Patel Airport, Ahemdabad ( 94.3 km )</b>
                </p>
            </div>
            <img src="{{ url_for('static', filename="images/sun_temple.jpg")}}" alt="Sun Temple">
        </div>
    </section>
    <section>
        <footer id="foot">
            <p><b>Author: Ajay Mahara</b>
                <a href="mailto:mahara.ajay.2017306@gmail.com"><b>Email Me</b></a>
            </p>
        </footer>
    </section>
</body>

</html>